/* REGOLE DI HEADER */
._header-top{
    background-color: black;
}

._header-top img{
    width: 90px;
}

._header-bottom ._lens{
    width: 40px;
}


/* REGOLE DI MAIN */

._jumbo-title-cnt{
    width: 400px;
}
