body{
    font-family: sans-serif;
}

/* REGOLE DI HEADER */
._header-top{
    background-color: black;
}

._header-top img{
    width: 90px;
}

._header-bottom ._lens{
    width: 40px;
}

._btn-grey{
    background-color: #363636;
    padding: .5rem 1rem;
    border: none;
}

._btn-grey:hover{
    background-color: #222;
}


/* REGOLE DI MAIN */
/* JUMBOTRON */
#jumbotron{
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    height: 650px;
}

._ms-title-cnt{
    height: inherit;
}

._btn-orange{
    background-color: #CD3D0F;
    color: white;
    padding: .5rem 1rem;
    border: none;
}

._btn-orange:hover{
    outline: 1px solid black;
    outline-offset: -.2rem;
}

/* CAROUSEL */
#carousel .row .col-6 ._outline{
    outline: 2px solid #0070D1;
    outline-offset: .2rem;
}

#carousel img{
    cursor: pointer;
}

#carousel .row .col-6 img:hover{
    transform: translate(0, -10px);
    transition: .2s linear;
}


/* PLAY 5 */
._side-title{
    font-size: 14px;
}

@media all and (min-width: 768px){
    #playstation5 ._ms-cards .col-4{
        width: calc(100% / 5);
    }
}

#playstation5 ._ms-cards .col-4 img:hover + h6{
    border-bottom: 2px solid #2D64E6;
}


/* AD */
#ad{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    height: 650px;
}

/* NEW RELEASES */
#new-releases{
    background-color: #222;
}

#new-releases img{
    cursor: pointer;
}


/* PS PLUS */
#ps-plus{
    background-color: #BEBCBB;
}

._btn-gray{
    background-color: #D9DADC;
}


/* PS NOW */
#ps-now{
    background-color: #161C3B;
}

._btn-white{
    background-color: white;
    padding: .5rem 1rem;
    border: none;
}

._btn-white:hover{
    background-color: white;
    outline: 2px solid #333;
    outline-offset: -.2rem;
}

/* REGOLE DI FOOTER */
footer{
    background-color: #00439C;
}

._footer-info img{
    width: 1.4rem;
}

footer ul li{
    list-style: none;
    text-decoration: none;
}

footer ul li a{
    text-decoration: none;
}